body {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;    
    background-color: black;

}

header {
    background-color: black;
    position: relative;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    transition: transform 0.3s;
}

.menu img {
    width: 30%;
}

.menu a:hover {
    transform: scale(1.1);
}

.menu input {
    height: 30px;
}

.menu button {
    height: 30px;
    border-color: #FFF;
    color: #FFF;
    background-color: black;
    font-family: 'Kanit', sans-serif;
}


#categorias {
    max-width: 1300px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    
}

.direitos a {
    color: #daff01;
}

.categoria-card p {
    background-color: #ccc;
    width:160px;
    margin-left: auto;
    margin-right: auto;
}

.p-categoria {
    margin: 0;
}

.categoria-card {
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    margin: 0 1.5%; /* Adicionar margens para espaçamento entre os itens */
    box-sizing: border-box;
}

.titulo-branco {
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.produtos {
    max-width: 1300px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permitir que os itens quebrem para a próxima linha */
    margin: 0 auto;
}

.linha-produtos {
    display: flex;
    justify-content: space-between;
}

.produto-card {
    background-color: #ccc;
    width: 30%;
    font-family: 'Kanit', sans-serif;
    border: solid 5px #ffffff;
    border-radius: 5px;
    max-width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    
}

.produto-card img {
    width: 100%;
}

.produto-card h3, .produto-card p, .produto-card button {
    margin-left: 20px;
    margin-right: 20px;
}

.produto-card button {
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #daff01;
    border-color: transparent;
    color: black;
    font-family: 'Kanit', sans-serif;
    margin-top: auto;
    font-size: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.produto-card button:hover {
    transform: scale(1.05); 
}

footer p{
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;

}

#facilidades{
    display: flex;
    color: white;
    justify-content: space-evenly;
    max-width: 1300px;
    max-height: 238px;
    width: 100%;
    margin: 0 auto;
}

#facilidades img{
    float: left;
}


#facilidades h1{
    color: #DAFF01;
    font-family: 'Kanit', sans-serif;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    justify-content: space-evenly;
}

#facilidades p{
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    margin-left: 100px;
    text-align: left;
}


.cadastro {
    background-color: white;
    width: 100% !important; 
    padding: 20px; 
    box-sizing: border-box; 
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    background-color: white;
    font-size: 16px;
}

.cadastro-conteudo {
    border: solid black 2px;
    padding: 30px;
    
}

.cadastro-conteudo p {
    padding-bottom: 20px;
}

.cadastro input {
    padding: 10px 100px;
}

.cadastro div {
    max-width: 600px; 
    text-align: center;
    font-family: 'Kanit', sans-serif;
}


.cadastro p {
    margin: 0; 
}

.cadastro button {
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #daff01;
    border-color: transparent;
    color: black;
    font-family: 'Kanit', sans-serif;
    margin-top: auto;
    font-size: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cadastro button:hover {
    transform: scale(1.05); 
}

.direitos{
    color: #ccc;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-conteudo {
    font-family: 'Kanit', sans-serif;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-conteudo img{
    margin-top: 30px;
    margin-right: 20px;
}

#info-topo{
    display: flex; 
    background-color: black; 
    padding: 10px auto;
    align-items: center;
    justify-content: space-between;
    color: white; 
    height: 50px;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-topo img{
    padding-bottom: 30px;
}
#info-topo h2{
    padding-right: 500px;
}





.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color:#DAFF01;
    text-decoration: none;
    cursor: pointer;
}

.comprar {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.comprar:hover {
    background-color: black;
    color: #fff;
}





















#carousel {
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
}

#image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-image {
    flex: 0 0 auto; 
    width: 100%; 
    height: auto;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: transparent;
}

.prev {
    left: 30px;
    color: transparent;
}

.next {
    right: 30px;
    color: transparent;
}

@media (max-width: 900px) {

    .menu {
        height: 55px;
    }

    .menu img {
        width:15%;
    }

    .menu a {
        font-size: 15px;
    }

    .menu input {
        width: 10%;
    }

    .menu button {
        margin-right: 50px;
    }

    #categorias {
        flex-wrap: wrap;
        margin-right: 50px;
    }

    .categoria-card {
        flex: 1 0 30%; 
        margin: 0 1%; 
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {

    .menu a {
        display: none;
    }

    .menu input {
        display: none;
    }

    .menu button {
        display: none;
    }

    .menu img {
        width: 60%;
    }

    body {
        font-size: 14px;
    }

    .menu input {
        width: 30%;
    }

    .menu button {
        margin-right: 10px;
    }

    #categorias {
        margin-right:auto;
        margin-left: auto;
    }

    .categoria-card {
        flex: 1 0 48%;
    }

    .titulo-branco {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .linha-produtos {
        flex-direction: column;
    }

    .produto-card {
        width: 80%;
        margin: 10px auto;
    }

    .produto-card button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mt {
        margin-top: 20px;
    }

    footer p {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    footer {
        font-size: 14px;
    }

    #facilidades {
        align-items: center;
        flex-direction: column;
    }

    #facilidades div {
        margin-bottom: 10px;
        text-align: center;
    }

    #facilidades h1 {
        margin-left: 0;
        font-size: 16px;
    }

    #facilidades p {
        margin-left: 0;
        font-size: 12px;
    }

    #facilidades img {
        width: 40px;
        margin-right: 10px;
    }

    .direitos {
        font-size: 10px;
    }

    .cadastro-conteudo {
        padding: 10px;
    }

    .cadastro input {
        padding: 10px 30px;
    }

    .cadastro button {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .fechar {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .modal-conteudo {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        overflow-y: auto;
        max-height: 80vh;
    }

    .direitos p {
        font-size: 15px !important;
    }

    .sustentabilidade {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .sustentabilidade img {
        margin-left: 10%;
    }

    #info-topo {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #info-topo h2 {
        padding-right: 10px;
        margin-left: 20px;
        font-size: 22px;
    }

    .modal-conteudo img {
        margin-top: 10px;
        margin-right: 10px;
    }
    

    .modal-conteudo hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .column {
        flex-direction: column;
    }

    #modal-imagem{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 90%;
    }

    #modal-titulo {
        font-size: 30px;
    }

    #modal-descricao {
        font-size: 15px;
    }

    #modal-preco {
        font-size: 30px;
    }
    
    #modal-riachuelo {
        font-size: 20px;
    }

    .font-20 {
        font-size: 20px;
    }

    .modal-inputs {
        display: flex;
        justify-content: space-evenly;
    }

    .modal-inputs label {
        margin-bottom: 8px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .modal-inputs input[type="radio"] {
        transform: scale(1.4); 
        margin-right: 8px; 
    }
    
    .modal-inputs input[type="radio"]:checked {
        border: 2px solid #3498db;
    }


}
