body {
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-color: black;
    position: relative;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    transition: transform 0.3s;
}

.menu img {
    width: 30%;
}

.menu a:hover {
    transform: scale(1.1);
}

.menu input {
    height: 30px;
}

.menu button {
    height: 30px;
    border-color: #FFF;
    color: #FFF;
    background-color: black;
    font-family: 'Kanit', sans-serif;
}


#categorias {
    max-width: 1200px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    overflow:hidden;
    position: relative;
}

.categoria-card p {
    background-color: #FFF;
    width:160px;
}








#carousel {
    max-width: 1200px;
    margin: 0 auto; 
    overflow: hidden;
    position: relative;
}

#image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-image {
    flex: 0 0 auto; 
    width: 100%; 
    height: auto;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
}

.prev {
    left: 30px;
    color: transparent;
}

.next {
    right: 30px;
    color: transparent;
}